* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #4ccde2;
  color: #fff;
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  font-size: 1.375rem;
}
header a {
  display: inline-block;
  width: 1.5rem;
  height: 2.5625rem;
}

header .return {
  background: url(../image/icon_arr_back.png) no-repeat center;
  background-size: 0.9375rem;
}

header .nav {
  width: 2.4375rem;
  background: url(../image/icon_arr_more.png) no-repeat center;
  background-size: 1.875rem;
}

.title {
  width: 100%;
  height: 2.5rem;
  background-color: #f2f2f2;
  border-bottom: 0.125rem solid #ebebeb;
  color: #8e9995;
  font-size: 1.125rem;
  line-height: 2.5rem;
}
.title p {
  text-indent: 1.25rem;
}

.list {
  width: 100%;
}
.list ul {
  padding-left: 1.25rem;
  box-sizing: border-box;
}
.list ul li {
  display: flex;
  align-items: flex-start;
  border-bottom: 0.0625rem solid #ebebeb;
  padding-right: 0.625rem;
}
.list ul li:nth-child(6) h3 {
  white-space: nowrap;
}

.list ul li:nth-child(6) p {
  margin-left: 1.25rem;
  padding: 0.625rem 0;
  line-height: 1.5rem;
}
.list ul li h3 {
  font-weight: normal;
  font-size: 1rem;
  width: 6.25rem;
  color: #8e9995;
  line-height: 2.8125rem;
}
.list ul li p {
  font-size: 1rem;
  color: #6d6058;
  line-height: 2.8125rem;
}
