* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  width: 100%;
  height: 3.4375rem;
  background-color: #f8f8f8;
  border-bottom: 0.0625rem solid #e5e5e5;
  padding: 0 1.125rem;
  box-sizing: border-box;
}
header p {
  line-height: 3.4375rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  background: url(../image/icon_back.png) no-repeat left center;
  background-size: 0.9375rem;
  color: #1c7ae6;
}

.installation {
  width: 100%;
  padding: 1.125rem;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.installation .icon {
  height: 5.125rem;
  display: flex;
}
.installation .icon .img {
  width: 5.125rem;
  height: 5.125rem;
  background: url(../image/logo01.png) no-repeat center;
  background-size: 5.125rem;
  display: inline-block;
}
.installation .icon span {
  display: inline-block;
  height: 5.125rem;
  margin-left: 0.625rem;
}
.installation a {
  text-decoration: underline;
}
.installation a button {
  width: 3.75rem;
  height: 2rem;
  border: 1px solid #1c7ae6;
  background: none;
  border-radius: 0.3125rem;
  color: #1c7ae6;
  line-height: 2rem;
}

.content {
  width: 100%;
  padding: 0 1.125rem;
  box-sizing: border-box;
}
.content .title {
  padding: 1.375rem 0;
  font-size: 1.25rem;
  color: #272123;
}
.content .describe {
  color: #696769;
  line-height: 1.5em;
}

nav{
    width: 100%;
    border-top: 1px solid #e5e5e5;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img{
    height: 30px;
}

nav a{
    color: #949494;
    text-align: center;
}
nav a:nth-child(1) p{
    color: #1c7ae6;
}
nav a p{
    font-size: 12px;
}
